body {
    background-color: #f9f3f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 15px;
}
h5{
    font-size: 10px;
}
.bio {
    color: #FFAFCC;
}

.col {
    padding: 0;
}

.nanny1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

.about1 {
    background-color: #BDE0FE;
}