body {
    /* background-color: #f9f3f5; */

    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 15px;
}

.bio {
    color: #FFAFCC;
}

.btn {
    background-color: #BDE0FE;
    margin-top: 5px;

}

a {
    color: black;
    text-decoration: none;
}

.nanny1 {
    background-color: #f9f3f5;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #BDE0FE;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.about1 {
    background-color: #BDE0FE;
}