<section  id="gallery-section">
  <h2  class="welcome-sty"> WELCOME TO NANNY COMPANIES</h2>
  <div class="row pt-4">
    {% for company in companies %}

    <div class="cards-style">
      <div class="parent-card">
        <img class="imageresize" src="{{ company.image.url }}" alt="{{ company.name }}">
        <div class="parag-style">
          <h5 class="card-title">{{ company.name }}</h5>
          <p class="card-text">{{ company.description }}</p>
          <p class="card-text">{{ company.location }}</p>
          <p class="card-text">{{ company.phone_number }}</p>
          <p class="card-text">{{ company.email }}</p>

          <button class="nannies-sty">
            <a href="/nannies" class="">Nannies</a>
          </button>
        </div>
      </div>
    </div>
    {% endfor %}


    {% for image in images %}
    <div class="col-sm-6 col-xl-3 col-lg-4">
      
    </div>
    {% endfor %}
    {% if images.count == 0 %}
    <p class="text-center pt-4">No images yet</p>
    {% endif %}
  </div>
</section>