{% load cloudinary %}
<div class="gallery-card shadow">
    <!-- <div class="gallery-image position-relative">
        <img src="{{ image.image_url }}" alt=""
            class="img-fluid" data-bs-toggle="modal" data-bs-target="#image-modal-{{image.id}}">
    </div> -->
    <div class="details p-3 pb-4">
        <a href="#" class="fw-bold fs-3 h2 text-dark" data-bs-toggle="modal" data-bs-target="#image-modal-{{company.id}}">
            {{ company.name }}
        </a>

        <div class="d-flex">
            <a href="#" class="btn btn-outline-primary px-3 py-1 text-sm me-3 btn-xs">
                {{ company.location }}
            </a>
            <a href="#" class="btn btn-outline-primary px-3 text-sm me-3">
                {{company.category}}
            </a>
        </div>
    </div>
</div>
{% include 'image-modal.html' %}