{% load static %}
<div id="nav-home">
  
  <div class="navbar">
    
    <nav>
      <div class="home-link">
        <a href="#" id="home-link" >HOME</a>
      </div>
      <div class="search-area">
        <form>
          <input type="text" placeholder="search companies">
          <button> CLICK HERE</button>
        </form>
      </div>
      <div class="home-profile">
        <button class="log-out-btn"><a href="/accounts/logout" id="home-link" >Log Out</a></button>
      </div>
      
    </nav>
  </div>
</div>

